<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>reclamos</display-name>
  <filter>
    <filter-name>ResponseOverrideFilter</filter-name>
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    
    <init-param>
      <param-name>ip docpath</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>port</param-name>
      <param-value>17300</param-value>
    </init-param>
    <init-param>
      <param-name>docType</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>numeroTarjeta</param-name>
      <param-value>6</param-value>
    </init-param>
    <init-param>
      <param-name>numeroAfiliado</param-name>
      <param-value>7</param-value>
    </init-param>
    <init-param>
      <param-name>numeroAutorizacion</param-name>
      <param-value>8</param-value>
    </init-param>
    <init-param>
      <param-name>trace</param-name>
      <param-value>9</param-value>
    </init-param>
    <init-param>
      <param-name>fechaTransaccion</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>montoTransaccion</param-name>
      <param-value>11</param-value>
    </init-param>
	<init-param>
      <param-name>fechaCreacionRegistro</param-name>
      <param-value>12</param-value>
    </init-param>
    
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://ajaxtags.org/tags/ajax</taglib-uri>
      <taglib-location>/WEB-INF/tld/ajaxtags.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://displaytag.sourceforge.net/</taglib-uri>
      <taglib-location>/WEB-INF/tld/displaytag-11.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-html</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-bean</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-logic</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-layout</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-layout.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-constraint>
    <display-name>excluded</display-name>
    <web-resource-collection>
      <web-resource-name>No Access</web-resource-name>
      <url-pattern>/web/*</url-pattern>
      <url-pattern>/layout/*</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <form-login-config>
      <form-login-page>/WebContent/index.jsp</form-login-page>
      <form-error-page>/WebContent/index.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <locale-encoding-mapping-list>
    <locale-encoding-mapping>
      <locale>es</locale>
      <encoding>es_VE</encoding>
    </locale-encoding-mapping>
  </locale-encoding-mapping-list>
</web-app>